PUPPETEER_HEADLESS=
PUPPETEER_SLOWMO=
PUPPETEER_VIEWPORT=
PUPPETEER_VIEWPORT_WIDTH=
PUPPETEER_VIEWPORT_HEIGHT=
PUPPETEER_IS_INCOGNITO=

BROWSER_OPEN=
BROWSER_APP=

MIN_SLEEP=
MAX_SLEEP=

SOUND_NOTIFICATION=
SOUND_FILE_PATH=
SOUND_PLAYER=

DISCORD_NOTIFICATION=
DISCORD_NVIDIA_3070_ROLE_ID=
DISCORD_NVIDIA_3080_ROLE_ID=
DISCORD_NVIDIA_3090_ROLE_ID=
DISCORD_WEBHOOK_ID=
DISCORD_WEBHOOK_TOKEN=

STORE_CHECK_NEWEGG=
STORE_CHECK_BESTBUY=
