PUPPETEER_HEADLESS=
PUPPETEER_SLOWMO=
PUPPETEER_VIEWPORT=
PUPPETEER_VIEWPORT_WIDTH=
PUPPETEER_VIEWPORT_HEIGHT=
PUPPETEER_IS_INCOGNITO=false

BROWSER_OPEN=
BROWSER_APP=

SOUND_NOTIFICATION=
SOUND_FILE_PATH=

DISCORD_NOTIFICATION=
DISCORD_WEBHOOK_ID=
DISCORD_WEBHOOK_TOKEN=
